body {
  font-size: 20px;
}

h2 {
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  padding-bottom: 20px;
}

.books__item {
  padding-bottom: 40px;
  grid-column: span 2;
}

/* GRID MAIN PAGE */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 12px;
  width: 100%;
  padding: 0 23px;
}

.books__heading {
  grid-column: span 12;
}

.slideshow {
  grid-column: span 12;
}

.footer {
  grid-column: span 12;
}

/* GRID MOBILE MAIN PAGE BOOKS */
@media screen and (max-width: 968px) {
  .header__item {
    grid-column: span 4;
  }
}

.section__header,
.section__header--padding,
.section__header--padding--less {
  grid-column: span 12;
  text-align: center;
  font-size: var(--body-font-size);
  padding: var(--section-padding);
}

.section__header--padding--less {
  padding-top: 60px;
}
.section__header--padding {
  padding-top: 100px;
}
