:root {
    --highlight: #ADFF00;
    --primary: #000000;
    --secondary: #E3E3E3;

    --heading-font-size: 50px;
    --heading-line-height: 66px;

    --body-font-size: 30px;
    --body-line-height: 40px;
    
    --caption-font-size: 20px;
    --caption-line-height: 26px;


    /*  Variables for breakpoints 1300 and below    */

    --heading-font-size-small: 2.6rem;
    --heading-line-height-small: 4rem;

    --body-font-size-small: 1rem;
    --body-line-height-small: 1.7rem;

}