:root {
	--highlight: #adff00;
	--primary: #000000;
	--secondary: #e3e3e3;

	--heading-font-size: 50px;
	--heading-line-height: 66px;

	--body-font-size: 30px;
	--body-line-height: 40px;

	--caption-font-size: 20px;
	--caption-line-height: 26px;
}
